.nav{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    position: fixed;
    background-color: #111;
}
.nav_side{
    z-index: 1;
    width: 3vw;
    height: 30vh;
    border-radius: 20px;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // background: rgba(75, 75, 75, 0.11);
    // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(75, 75, 75, 0.3);
    --border-size: 1px;
    --border-angle: 4turn;
    background-image: conic-gradient(
        from var(--border-angle),
        #1f1f1f,
        #1f1f1f 50%,
        #1f1f1f
      ),
      conic-gradient(from var(--border-angle), transparent 50%, rgba(247, 248, 249, 0.337), rgba(135, 135, 135, 0.245));
    background-size: calc(100% - (var(--border-size) * 2))
        calc(100% - (var(--border-size) * 2)),
      cover;
    background-position: center center;
    background-repeat: no-repeat;
  
    animation: bg-spin 10s linear infinite;
    @keyframes bg-spin {
      to {
        --border-angle: 2turn;
      }
    }
  
    // &:hover {
    //   animation-play-state: paused;
    // }
  }
  
  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }

.logo_pong{
    margin-top: 3vh;
    max-width: 3vw;
    cursor: pointer;
}
.nav_side_nav{
    position: relative;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    width: 15vw;
    height: 50vh;
    border-radius: 20px;
    margin-bottom: 40px;
    &_icon{
        color: white;
        margin-top: 10%;
        cursor: pointer;
    }
    &_icon:hover{
        color:rgb(122, 122, 122);
        background: none;
        size-adjust: 50px;
          
    }
    /* background-color: rgb(58, 58, 58); */
}
// .login{
//     margin-top: 90%;
//     border-radius: 20px;
//     /* From https://css.glass */
//     // background: rgba(233, 233, 233, 0);
//     // border-radius: 20px;
//     // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
//     // backdrop-filter: blur(13.2px);
//     // -webkit-backdrop-filter: blur(13.2px);
//     border: none;
//     font-size: 15px;
//     width: 3vw;
//     height: 4vh;
//     font-family: Roboto, sans-serif;
//     cursor: auto;
//     cursor: pointer;
//     pointer-events: auto;
    
// }
// .login:hover{
//     background-color: rgba(56, 56, 56, 0.253);
// }
